*.zip
system/*/*
META-INF/scripts/xbin/*
mods/keys/*
device/*/overlay
!/mods/magisk.zip
!/mods/bootani/bootanimation.zip
auxy/data/app/TrichromeLibrary/TrichromeLibrary.apk
auxy/data/app/WebViewGoogle/WebViewGoogle.apk
auxy/system/app/ARCore/ARCore.apk
auxy/system/app/ARZone/ARZone.apk
auxy/system/app/BixbyWakeup/BixbyWakeup.apk
auxy/system/app/OCRDataProvider/OCRDataProvider.apk
auxy/system/app/SamsungTTS/SamsungTTS.apk
auxy/system/app/StickerCenter/StickerCenter.apk
auxy/system/app/WifiGuider/WifiGuider.apk
auxy/system/priv-app/AREmoji/AREmoji.apk
auxy/system/priv-app/Bixby/Bixby.apk
auxy/system/priv-app/CallBGProvider/CallBGProvider.apk
auxy/system/priv-app/DualOutFocusViewer_S/DualOutFocusViewer_S.apk
auxy/system/priv-app/GalaxyApps_OPEN/GalaxyApps_OPEN.apk
auxy/system/priv-app/HashTagService/HashTagService.apk
auxy/system/priv-app/LinkToWindowsService/LinkToWindowsService.apk
auxy/system/priv-app/MateAgent/MateAgent.apk
auxy/system/priv-app/MCFDeviceSync/MCFDeviceSync.apk
auxy/system/priv-app/MultiControlVP6/MultiControlVP6.apk
auxy/system/priv-app/SamsungMultiConnectivity/SamsungMultiConnectivity.apk
auxy/system/priv-app/SamsungPositioning/SamsungPositioning.apk
auxy/system/priv-app/SamsungSmartSuggestions/SamsungSmartSuggestions.apk
auxy/system/priv-app/SettingsBixby/SettingsBixby.apk
auxy/system/priv-app/SmartThingsKit/SmartThingsKit.apk
auxy/system/priv-app/StickerFaceARAvatar/StickerFaceARAvatar.apk
