on late-fs
    wait /dev/block/by-name/omr
    mkdir /metadata/omr 0755 radio system
    mount none /metadata/omr /omr bind
    chown radio system /omr
    restorecon_recursive /omr
    chmod 0775 /omr
on property:vendor.security.vaultkeeper.native=1
    start scs
on property:mdc.singlesku.activated=*
    oem_key_update
on post-fs
    setprop ro.omc.build.version A515FOLE5GVK6
    setprop ro.omc.build.id 59641723
    setprop ro.omc.changetype NONE
    setprop ro.simbased.changetype NONE
    setprop ro.omc.disabler FALSE
    setprop ro.omc.multi_csc OLE
    chown radio system /efs/imei/countryiso_code.json
    chmod 0664 /efs/imei/countryiso_code.json
