on property:sys.boot_completed=1
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    copy /vendor/etc/fp_cmax0 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    copy /vendor/etc/fp_cmax6 /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq

